# 01. Importing Libaries

In [3]:
# Importing libaries
import pandas as pd
import numpy as np
import os

# 02. Python Data Types

## Integer

In [4]:
x = 2

In [5]:
x

2

In [6]:
print(x)

2

In [7]:
type(x)

int

## float-point numbers

In [10]:
y= 5.678

In [13]:
Type(y)

NameError: name 'Type' is not defined

In [14]:
type(y)

float

## String

In [15]:
Z='Brazil'

In [16]:
type(Z)

str

In [17]:
type('Mania')

str

## Boolean *type T and F in capital always and lowe-case for type.

In [18]:
Type(true)

NameError: name 'Type' is not defined

In [19]:
type(true)

NameError: name 'true' is not defined

In [21]:
type(True)

bool

In [22]:
type(False)

bool

## Python operator

In [23]:
print(x)

2

In [24]:
x+4

6

In [25]:
x+y

7.678

In [26]:
x=x+4

In [27]:
print(x)

6

In [31]:
a='Hello, '

In [29]:
b='Mary'

Concatenate - for strings since you cant use aggrative funtion

In [32]:
a+b

'Hello, Mary'

In [33]:
n='potatoes'

In [34]:
n*12

'potatoespotatoespotatoespotatoespotatoespotatoespotatoespotatoespotatoespotatoespotatoespotatoes'

ChecKing for equality

In [35]:
x == y

False

In [36]:
type(x == y)

bool

Code 3 different ways of reaching a result of 100 by adding or subtracting numeric variables.

In [1]:
a=50
b=100
c=200

In [2]:
a+a

100

In [3]:
c-b

100

Code 2 floating-point variables and divide them by each other.

In [4]:
d=3.333
e=6.666

In [5]:
e/d

2.0

In [8]:
f='I am '
g='Happy '
h='to '
i='learn '
j='Python!'

In [9]:
f+g+h+i+j

'I am Happy to learn Python!'

In [12]:
first_name='Bandana'
space=' '
last_name='Sharma'

In [13]:
print(first_name+space+last_name)

Bandana Sharma

In [2]:
Sentence1='I am enjoying learning Python.'
Space=' '
Sentence2='I hope to master it one day.'

In [19]:
Sentence1+Space+Sentence2

'I am enjoying learning Python. I hope to master it one day.'

In [3]:
Sentence1*100

'I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.I am enjoying learning Python.'